<div class="container-fluid header border d-flex justify-content-center p-4">
  <div class="row row-cols-2 row-cols-md-1 w-100">
    <div class=" pb-3 p-md-0 col-12 col-md-6 d-flex justify-content-center align-items-center
    justify-content-md-start">
      <h5 class="">Header</h5>
    </div>

    <div class=" col-6 col-md-3 d-flex justify-content-center justify-content-md-end">
      <button class="btn btn-primary button btn-sm" (click)="redirectToSearch()">
        Search
      </button>
    </div>
    <div class=" col-6 col-md-3 d-flex justify-content-center justify-content-md-end">
      <button class="btn btn-primary button btn-sm" (click)="redirectToFavoriteMovies()">
        Favorites
      </button>
    </div>
  </div>
</div>
